<section>
    @if (steps == 1) {
        <div class="container pt-5">
            <h2 class="fw-bolder my-2">Forgot Password:</h2>
            <form [formGroup]="forgotPassword" (ngSubmit)="submitStepOne()">
    
                <input [ngClass]="
                {
                    'is-valid' : !forgotPassword.get('email')?.errors && (forgotPassword.get('email')?.touched || forgotPassword.get('email')?.dirty),
                    'is-invalid' : forgotPassword.get('email')?.errors && (forgotPassword.get('email')?.touched || forgotPassword.get('email')?.dirty),
                }" formControlName="email" type="email" class="form-control my-4" placeholder="Type your Email...">
                <alertError [formName]="forgotPassword" controlName="email" />
    
                <div class="text-danger mb-3">{{errorMessage}}</div>
                <div class="d-flex justify-content-between align-items-center">
                    
                <button [disabled]="forgotPassword.invalid || isBtnSubmit" class="btn bg-main text-white w-25">
                    @if (!isBtnSubmit) {
                    Send
                    }
                    @else if(isBtnSubmit) {
                    <i class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </i>
                    }
                </button>
    
                </div>
    
            </form>
        </div>
    }@else if (steps == 2) {
        <div class="container pt-5">
            <h2 class="fw-bolder my-2">Verify Reset Code:</h2>
            <form [formGroup]="verifyResetCode" (ngSubmit)="submitStepTwo()">
    
                <input [ngClass]="
                {
                    'is-valid' : !verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty),
                    'is-invalid' : verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty),
                }" formControlName="resetCode" type="text" class="form-control my-4" placeholder="Type your Reset Code...">
                <alertError [formName]="verifyResetCode" controlName="resetCode" />
    
                <div class="text-danger mb-3">{{errorMessage}}</div>
                <div class="d-flex justify-content-between align-items-center">
                    
                <button [disabled]="verifyResetCode.invalid || isBtnSubmit" class="btn bg-main text-white w-25">
                    @if (!isBtnSubmit) {
                    Verify
                    }
                    @else if(isBtnSubmit) {
                    <i class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </i>
                    }
                </button>
    
                </div>
    
            </form>
        </div>
    }@else if(steps == 3) {
        <div class="container pt-5">
            <h2 class="fw-bolder my-2">Reset Password:</h2>
            <form [formGroup]="resetPassword" (ngSubmit)="submitStepThree()">
    
                <input [ngClass]="
                {
                    'is-valid' : !resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty),
                    'is-invalid' : resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty),
                }" formControlName="email" type="email" class="form-control my-4" placeholder="Type your Email...">
                <alertError [formName]="resetPassword" controlName="email" />
    
                <input [ngClass]="
                {
                    'is-valid' : !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
                    'is-invalid' : resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
                }" formControlName="newPassword" type="password" class="form-control my-4" placeholder="Type your New Password...">
                <alertError [formName]="resetPassword" controlName="newPassword" />
    
    
                <div class="text-danger mb-3">{{errorMessage}}</div>
                <div class="d-flex justify-content-between align-items-center">
                    
                <button [disabled]="resetPassword.invalid || isBtnSubmit" class="btn bg-main text-white w-25">
                    @if (!isBtnSubmit) {
                    Reset
                    }
                    @else if(isBtnSubmit) {
                    <i class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </i>
                    }
                </button>
    
                </div>
    
            </form>
        </div>
    }


</section>