<nav class="navbar p-3 navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand"><img src="assets/assets project/assets project/images/freshcart-logo.svg" alt="fresh cart logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="navbar-active" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/products']" routerLinkActive="navbar-active" >Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/categories']" routerLinkActive="navbar-active" >Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/brands']" routerLinkActive="navbar-active" >Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/allorders']" routerLinkActive="navbar-active" >My Orders</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active position-relative" aria-current="page" [routerLink]="['/wishlist']" routerLinkActive="navbar-active" ><i class="fa-regular fa-heart"></i>
                        WishList
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{whishItemNumber}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" [routerLink]="['/cart']" routerLinkActive="navbar-active" ><i class="fa-brands fa-opencart"></i> Cart
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{countNumber}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="navbar-active" >SignOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>